.trade-button {
    background: skyblue;
    color: azure;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1.5rem;
    transition: .25s ease-in-out;
    margin-left: 1rem;
}

.trade-button:hover {
    cursor: pointer;
    background: gold;
    border: 1px solid black;
    color: black;
}

.available-funds {
    font-family: sans-serif;
    position: absolute;
    top: 12vh;
    right: 2%;
}

.loading-spinner {
    position: absolute;
    top: 47vh;
    left: 47vw;
}

.plot-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
    margin-bottom: 5rem;
    border: 1px solid #e7e7e7;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0 .15);
    padding-bottom: 2rem;
}

.price-trade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 500px) {
    .trade-button {
        padding: .5rem .75rem;
        font-size: 1rem;
    }

    .available-funds {
        position: relative;
        text-align: center;
        right: 0;
    }

    .loading-spinner {
        top: 45vh;
        left: 40vw;
    }

    .plot-div {
        flex-direction: column;
        width:99vw;
    }
}