.dash-sub {
    position: fixed;
    overflow: scroll;
    height: 80vh;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    width: 100vw;
}

.trade-button {
    background: skyblue;
    color: azure;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1.5rem;
    transition: .25s ease-in-out;
    margin-left: 1rem;
}

.trade-button:hover {
    cursor: pointer;
    background: gold;
    color: black;
}

.funds-div {
    display: flex;
    justify-content: space-between;
    position: static;
    width: 100vw;
    align-items: center;
    margin-top: 10vh;
    height: 10vh;
    border-bottom: 1px solid black;
}

.available-funds {
    font-family: sans-serif;
    margin-left: 1rem;
}

.total-funds {
    font-family: sans-serif;
    margin-right: 1rem;
}

.loading-spinner {
    position: absolute;
    top: 47vh;
    left: 47vw;
}

.plot-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99vw;
    margin-bottom: 5rem;
    border: 1px solid #e7e7e7;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0 .15);
    padding-bottom: 2rem;
}

.price-trade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.single-plot-div {
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-div, .sell-div {
    display: flex;
    align-items: center;
}

.buy-input, .sell-input {
    width: 10vw;
    height: 5vh;
    font-size: 2rem;
    line-height: 2rem;
    border: none;
    border-radius: .375rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
    border: 1px solid aliceblue;
    height: 6vh;
    padding-left: .2rem;
    margin-left: .2rem;
}

.buy-button, .sell-button {
    background: skyblue;
    display: flex;
    align-items: center;
    color: azure;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1.2rem;
    height: 6vh;
    transition: .25s ease-in-out;
    margin-left: .2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
}

.buy-button:hover, .sell-button:hover {
    cursor: pointer;
    background: gold;
    color: black;
}

.reset {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 2%;
    right: 2%;
}

.reset-button {
    background: black;
    display: flex;
    align-items: center;
    color: azure;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1.2rem;
    height: 6vh;
    transition: .5s ease-in-out;
    margin-left: .2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
}

.reset-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: red;
}

.loading-tip {
    position: relative;
    top: 2vh;
    left: -35%;
    text-align: center;
}

@media (max-width: 500px) {
    .dash-sub {
        margin-top: 20vh;
    }
    .trade-button {
        padding: .5rem .75rem;
        font-size: 1rem;
    }

    .available-funds {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .total-funds {
        margin-right: 0;
        font-size: 1.5rem;
    }

    .loading-spinner {
        top: 45vh;
        left: 38vw;
    }

    .funds-div {
        display: flex;
        justify-content: center;
        position: fixed;
        flex-flow: wrap;
        height: 10vh;
        margin-top: 10vh;
    }

    .plot-div {
        flex-direction: column;
        width:100vw;
    }
    .buy-input {
        width: 200px;
    }

    .single-plot-div {
        height: 30vh;
        flex-flow: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    .loading-tip {
        left: -30%;
    }
}