.trade-button {
    background: skyblue;
    color: azure;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1.5rem;
    transition: .25s ease-in-out;
}

.trade-button:hover {
    cursor: pointer;
    background: gold;
    border: 1px solid black;
    color: black;
}

.available-funds {
    font-family: sans-serif;
    position: fixed;
    top: 12vh;
    right: 2%;
}

.loading-spinner {
    position: absolute;
    top: 47vh;
    left: 47vw;
}

@media (max-width: 500px) {
    .trade-button {
        padding: .5rem .75rem;
        font-size: 1rem;
        position: relative;
        right: 5%;
    }

    .available-funds {
        position: relative;
        text-align: center;
        right: 0;
    }

    .loading-spinner {
        top: 45vh;
        left: 40vw;
    }
}