.header-div {
    background: dodgerblue;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.header-title {
    color: white;
    text-align: center;
}

.reset-button {
    position: absolute;
    z-index: 1;
    top: 2vh;
    right: 2%;
    background: black;
    display: flex;
    align-items: center;
    color: azure;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    padding: 1rem 1.2rem;
    height: 6vh;
    transition: .5s ease-in-out;
    margin-left: .2rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
}

.reset-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: red;
}